@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    @apply m-0 p-0 bg-[#121212] text-white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --grid-item-margin: 15px;
}

@media (max-width: 1200px) {
    :root {
        --grid-item-margin: 15px;
    }
}

@layer components {
    .card {
        @apply rounded-3xl border-white/40 hover:scale-[98%];
        width: calc((100%/5) - (30px));
        margin: var(--grid-item-margin);
        font-size: 16px;
        font-weight: 500;
        background-position: center;
        background-size: cover;
        transition-duration: 0.2s;
        aspect-ratio: 230/300;
        display: flex;
        align-items: flex-end;
        line-height: 130%;

        &--category {
            width: 100%;
        }
    }
}